<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="assets/styles/handlebars.css" />
		<script src="assets/js/handlebars.runtime.js"></script>
		<title>ii18nJS Examples</title>
	
	</head>
	<body>{{> home-page}}
		<h1>ii18nJS Example</h1>
		<div><span class="bold"> Option 1 - Project Build Time compilation of Message Resource Properties</span>: Refer plugins section in pom.xml file for this project.
		  All the message resource files under /src/resources directory will be compiled and saved to /js directory when you run maven script. You can run maven script in either of the following ways. 'mvn package' or 'mvn handlebars:i18njs'</div>
		<br>
		
	</body>
</html>