<div class="generated-carousel"></div>


<div class="row">
 	{{#listArticle}}
		<div class="large-4 columns">
			<img width="400" height="300" src="{{imagePath}}"/>
			<h4>{{title}}</h4>
			<p>{{body}}</p>
		</div>
	 {{/listArticle}}
	
</div>
