
	<!-- Compiled Javascript -->
	<!-- <script src='assets/scripts/main.js'></script> -->

	<!-- Compiled and minified. Tasks can be changed in uglify and dust grunt tasks -->
	<script src='assets/scripts/main.min.js'></script>

</body>
</html>
