<!-- search template -->
<div class="search-box large-2 columns">
  <div class="row collapse">
    <div class="small-10 columns">
      <input type="text" placeholder="Search">
    </div>
    <div class="small-2 columns">
      <a href="#" id="searchBtn" class="button postfix">Go</a>
    </div>
  </div>
</div>
