<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="assets/styles/handlebars.css" />
		<title>Caching Examples</title>
	
	</head>
	<body>{{> home-page}}
		<h1>Caching Examples</h1>
			 
	</body>
</html>